<header>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" routerLink="/"><img class="img-fluid" src="assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a *ngIf="loginStatus" routerLink="/register" class="btn btn-primary" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="loginStatus" class="btn btn-primary" routerLink="/login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="!loginStatus" class="btn btn-primary" routerLink="/list-users">
                            List All Pages
                        </a>

                    </li>
                    <li class="nav-item">
                        <a *ngIf="!loginStatus" class="btn btn-primary" (click)="logout()">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>